html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    font-size: 15px;
    color: #5b4a5f;
    font-weight: bold;
    background-color: aliceblue;
}

a{
    color: #5b4a5f;
}

a:hover{
    color: #3f3342;
}

#logo{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0px;
    left: 375px;
}

h1{
    text-align: center;
    position: relative;
    margin-left: 15px;
}

/*-----------------------------------------------*/

#tb {
  border: 2px solid midnightblue;
  border-radius: 20px;
  background-color: rgb(70, 70, 70);
  color: white;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
}

#t h2{
    text-align: center;
    font-weight: bold
}

.promotion
{
    background-color: lime;
    width: 10px;
}

.relegation
{
    background-color: red;
    width: 10px;
}

.nbr {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}

/*-----------------------------------------------*/

#round10 h3{
    text-align: center;
    font-weight: bold;
}

#round10 table{
    background-color: rgb(70, 70, 70);
    color: white;
}

#info{
    background-color: red;
    color: white;
    padding: 3px;
    position: relative;
    top: 10px;
    left: 5px;
}

#dateM4{
    color: red;
}

/*-----------------------------------------------*/

#valtC ol{
    border: 2.5px solid midnightblue;
    border-radius: 20px;
    background-color: rgb(70, 70, 70);
    color: white;
}

#valtC li{
    margin: 2px;
    margin-top: 3px ;
}

#valtC h3{
    text-align: center;
    font-weight: bold;
}

/*-----------------------------------------------*/